.App {
  text-align: center;
  margin: 0 auto !important;
  max-width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DM Serif Display';
  font-weight: 400;
  color: black;
  margin: 12px;
}

div {
  font-family: 'DM Sans';
}
