h1 {
    vertical-align: super;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display';
    font-weight: 400;
    color: black;
  }